.movies-card-list {
	box-sizing: border-box;
  list-style-type: none;
	margin: 0 auto;
	padding: 80px 70px 60px 70px;
	max-width: 1280px;
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(auto-fill, 358px);
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    padding: 80px 30px 80px 30px;
    grid-template-columns: repeat(auto-fill, 342px);
    gap: 24px;
    justify-content: center;
	}
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    padding: 50px 10px 80px 10px;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 16px;
	}
}
