.auth-page-input {
	display: flex;
	flex-direction: column;
}

.auth-page-input:not(:last-of-type) {
	margin-bottom: 6px;
}

.auth-page-input__label {
	color: #8B8B8B;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-bottom: 5px;
}

.auth-page-input__input {
	color: #fff;
	background-color: unset;
	border: none;
	border-bottom: 1px solid #424242;
	padding-bottom: 10px;
	margin-bottom: 6px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	outline: none;
  transition: .3s;
}

.auth-page-input__input:focus {
	border-bottom: 1px solid #4285F4;;
}

.auth-page-input__input_type_error {
  border-bottom: 1px solid #EE3465;
}

.auth-page-input__input_type_error:focus {
  border-bottom: 1px solid #EE3465;
}

.auth-page-input-error {
	color: #EE3465;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	min-height: 12px;
}
