.search-form-section {
  box-sizing: border-box;
	max-width: 1280px;
	margin: 0 auto;
}

.search-form-cover {
  box-sizing: border-box;
  margin: 70px 70px 0 70px;
  border-bottom: 1px solid rgb(170, 170, 170, .2);
  padding-bottom: 52px;
}

.search-form {
	max-width: 1140px;
	border-radius: 8px;
	border: 1.5px solid rgb(170, 170, 170, .2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 9px;
  margin-bottom: 6px;
  transition: .3s;
  position: relative;
  z-index: 2;
}

.search-form__input {
	background-color: unset;
	border: none;
	color: #fff;
	width: 100px;
	outline: none;
	flex-grow: 1;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
  padding: 15px;
}

.search-form__input::placeholder {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

  .search-form:has(.search-form__input:focus) {
    border-color: #4285F4;
  }

  .search-form__error {
    color: #FF004C;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 14px;
    margin-bottom: 6px;
    display: block;
    position: relative;
    z-index: 4;
  }

.search-form__btn {
	width: 100px;
	height: 52px;
	border-radius: 5px;
	background: #4285F4;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	color: #fff;
	cursor: pointer;
	border: none;
	margin-left: 10px;
}

.search-form__btn:hover {
  opacity: 0.8;
  background: #3456F3;
	transition: .3s;
}

@media screen and (max-width: 1139px) {
.search-form-cover {
  margin: 70px 30px 0 30px;
  }
}

@media screen and (max-width: 767px) {
	.search-form-cover {
    margin: 70px 14px 0 14px;
    padding-bottom: 63px;
	}

  .search-form__btn {
    width: 80px;
    height: 44px;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-left: 6px;
  }

  .search-form {
    padding: 6px;
    margin-bottom: 6px;
  }

  .search-form__input {
    padding: 6px;
  }

  .search-form__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .search-form__error {
    margin-bottom: 9px;
  }
}
